<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"
</head>
<body>
<form method="POST" class="post-form" action="/update/{{employee.id}}">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row"> 
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h1 style="text-align:center;">Update Details</h1>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Candidate Id:</label>
    <div class="col-sm-4">
        <input type="text" name="eid" id="id_eid" required maxlength="20" value="{{ employee.eid }}"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Candidate Name:</label>
    <div class="col-sm-4">
        <input type="text" name="name" id="id_name" required maxlength="100" value="{{ employee.name }}" />
    </div>
  </div>
        <div class="form-group row">
    <label class="col-sm-2 col-form-label">Candidate Contact:</label>
    <div class="col-sm-4">
        <input type="text" name="phone" id="id_phone" required maxlength="15" value="{{ employee.phone }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Candidate Email:</label>
    <div class="col-sm-4">
        <input type="email" name="email" id="id_email" required maxlength="254" value="{{ employee.email }}" />
    </div>
  </div>
         <div class="form-group row">
    <label class="col-sm-2 col-form-label">Candidate type:</label>
    <div class="col-sm-4">
      <select id="id_type" name="type" value="{{ employee.type }}">
  <option value="{{Employed}}">Employed</option>
  <option value="{{Unemployed}}">Unemployed</option>
</select>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Candidate photo:</label>
    <div class="col-sm-4">
       <div class="input-group">

    <input type="file" class="custom-file-input" name="photo" id="id_picture" value="{{ employee.photo }} >

</div>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Update</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>